* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* navbar */

.land-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(242, 246, 254);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 0px;
    padding: 30px;
    box-sizing: border-box;
}

.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500px;
    color: #111827;
}

.logo-name {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #111827;
    color: white;
    font-weight: 900;
}

.links-land {
    display: flex;
    gap: 30px;
}

.links-land a {
    text-decoration: none;
    color: rgb(161, 160, 160);
    font-size: 14px;
    font-weight: 600;
}

.links-land a:hover {
    color: rgb(113, 109, 243);
}

.dashboard-btn {
    padding: 10px 20px;
    background-color: #0a255f;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.dashboard-btn:hover {
    background-color: rgb(105, 105, 213);
    transform: translateY(-2px);
}
/* git add . */

/* hero section */

.dash {
    color: white;
    width: 100%;
    height: 600px;
    border: 2px solid rgb(4, 1, 14);
    background-color: rgb(4, 1, 14);
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 8%;
    border: 2px solid rgb(4, 1, 14);
    border-radius: 10px;
    position: reletive;
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    max-width: 800px;
}

.student-project-badge {
    background: rgba(225, 225, 225, 0.1);
    border: 2px solid rgba(225, 225, 225, 0.2);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: #cbd5e1;
}

.hero-title {
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 10px;
    color: white;
}

.hero-title span {
    color: rgb(43, 43, 249);
}

.hero-subtitle-tag {
    font-size: 15px;
    letter-spacing: 5px;
    color: rgb(138, 138, 212);
    margin-bottom: 15px;
}

.hero-desc {
    font-size: 20px;
    color: #cbd5e1;
    margin-bottom: 40px;
}

/* dev info sec */

.developer-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.developer-card {
    display: flex;
    align-items: center;
    gap: 12px;
    text-align: left;
}

.dev-avatar {
    width: 50px;
    height: 50px;
    background: #3b82f6;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}

.dev-info h4 {
    font-size: 15px;
    color: white;
    margin-bottom: 2px;
}

.dev-info p {
    font-size: 15px;
    color: #94a3b8;
}

.divider-line {
    width: 1px;
    height: 40;
    background: rgba(225, 225, 225, 0.2);
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.main-hero-btn {
    background: #2563eb;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600px;
    transition: 0.2s;
}

.main-hero-btn:hover {
    background: #1d4ed8;
}

.second-hero-btn {
    background: transparent;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    border: 1px solid rgba(225, 225, 225, 0.3);
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}

.second-hero-btn:hover {
    border-color: white;
    background: rgba(225, 225, 225, 0.3);
}

/* white area */

.idea-section {
    background-color: aliceblue;
    color: #1e293b;
    padding: 80px 8%;
    text-align: center;
}

.idea-header {
    max-width: 700px;
    margin: 0 auto 50px auto;
}

.idea-tag {
    font-size: 15px;
    font-weight: nold;
    letter-spacing: 2px;
    color: #64748b;
    text-transform: uppervase;
    margin-bottom: 10px;
    display: block;
}

.idea-title {
    font-size: 40px;
    font-weight: 800px;
    color: #0f172a;
    margin-bottom: 15px;
}

.idea-title span {
    color: #2563eb;
}

.idea-desxc {
    font-size: 15px;
    color: #475569;
    line-height: 1.5px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.feature-card {
    background: white;
    border: 1px solid rgb(232, 223, 223);
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    transition: transform 0.2 ease, box-shadow 0.2 ease;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(225, 225, 225, 0.5);
}

.feature-icon {
    width: 50px;
    height: 50px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: cente;
    font-size: 20px;
    margin: 0 auto 20px auto;
}

.features-card h3 {
    font-size: 15px;
    font-weight: 500px;
    color: #0f172a;
    margin-bottom: 10px;
}

.features-card p {
    font-size: 15px;
    color: #64748b;
    line-height: 1.5;
}


/* about page  */

.idk {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    justify-content: center;
    text-decoration: none;
}

.about-a {
    text-decoration: none !important;
    color: white;
    background: #2e61f0;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-a:hover {
    background: rgb(70, 70, 233);
}

.about-hfour {
    color: grey;
}

.about-us-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pppp-div {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 2000px;
}


.pppp-span {
    color: #1d4ed8
}

.yoyo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    border: 1px solid black;
    height: 90%;
    width: 500px;
    padding: 50px;
    text-decoration: solid;
    border-radius: 20px;
}

.box1-1 {
    color: grey;
}

.box1-2,
.box-2-2,
.box-3-2,
.box-4-2 {
    font-size: xx-large;

}

.box1-3,
.box-2-3,
.box-3-3,
.box-4-3 {
    color: grey;
}

.box2,
.box3,
.box4 {
    border: 1px solid black;
    height: 90%;
    width: 4fr;
    padding: 20px;
    border-radius: 20px;
}

.box-2-1,
.box-3-1,
.box-4-1 {
    color: #2563eb;
}


/* team */

.hh-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.hh {
    color: white;
    background: #1d4ed8;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
}

.hh:hover {
    background: rgb(73, 73, 244);
}

.t-div {
    color: grey;
    text-align: center;
}

.built-div {
    text-align: center;
    font-size: xx-large;
}

.block-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.am {
    font-size: x-large;
}

.block-div-1,
.block-div-2 {
    border: 1px solid rgb(195, 194, 194);
    background: rgb(217, 217, 217);
    border-radius: 10px;
    padding: 20px;
}

/* feature tab */

.something-div{
    display:flex;
    justify-content:center;
    align-items:center;
}

.something {
    color: white;
    background: #1d4ed8;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

/* feature  */

.feat-p{
    text-align:center;
    letter-spacing:1.5;
    color:grey;
}

.every-p{
    font-size:70px;
    text-align:center;
}

.every-span{
    color:#2563eb;
}

.rest-p{
    text-align:center;
    color:grey;
    font-size:50px;
}